@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #eee;
    font-family: "Roboto", sans-serif;
    transition: all 0.5s ease-in-out;
}

body::-webkit-scrollbar {
    width: 0;
    border-radius: 50%;
}
/* 
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
   
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
} */

.app {
    display: flex;
    height: 100%;
}

.container-wide {
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 17rem;
    height: 100%;
    background-color: white;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.sidebar__top {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e5e7eb;
}

.sidebar__logo {
    width: 3.5rem;
    height: 3.5rem;
    offset: cover;
    border-radius: 1rem;
}

.sidebar__logo-name {
    font-size: 1.4rem;
    font-weight: 500;
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__link {
    display: inline-block;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    padding: 0.8rem 1rem;
    display: flex;
    background-color: #f3f4f6;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
}

.sidebar__icon {
    font-size: 1.2rem;
    display: inline-block;
}

.sidebar__name {
    margin-left: 0.5rem;
}

.sidebar__btn {
    position: absolute;
    right: .7rem;
    top: 4.7rem;
    border: none;
    background-color: white;
    width: 1.5rem;
    height: 1.5rem;
    border-bottom: 1px solid #e5e7eb;
    border-left: 1px solid #e5e7eb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translateX(50%);
    font-size: 1.1rem;
    z-index: 30;
}

[data-collapsed="true"] {
    width: 5.5rem;
}

[data-collapsed="true"] .sidebar__name,
[data-collapsed="true"] .sidebar__logo-name {
    display: none;
}

@media screen and (max-width: 850px) {
    .sidebar {
        width: 5.5rem;
        height: 100%;
    }

    [data-collapsed="true"] .sidebar__name,
    [data-collapsed="true"] .sidebar__logo-name {
        display: none;
    }

    [data-collapsed="false"] {
        width: 17rem;
    }

    [data-collapsed="false"] .sidebar__name,
    [data-collapsed="flase"] .sidebar__logo-name {
        display: visible;
    }
}

@media screen and (max-width: 650px) {
    
    [data-collapsed="true"] {
        width: 1.5rem;
    }

    [data-collapsed="true"] .sidebar__name,
    [data-collapsed="true"] .sidebar__logo-name,
    [data-collapsed="true"] .sidebar__icon {
        display: none;
    }

    [data-collapsed="true"] .sidebar__link {
        padding: 0.5rem 0.5rem;
    }

    [data-collapsed="false"] .sidebar__btn {
        right: -.2rem;
        top: 1.9rem;
        width: 2.5rem;
        height: 2.5rem;
    }

    [data-collapsed="false"] .container__wide {
        display: none;
    }

    [data-collapsed="false"] {
        width: 100vw;
    }

    [data-collapsed="false"] .sidebar__name,
    [data-collapsed="false"] .sidebar__logo-name {
        display: visible;
    }
}

ul, a {
    padding: 0;
}
